<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3; url=/shop/login" />
    <title>Expired</title>
    <%- include("../partials/css.ejs"); %>
</head>

<body>
    <div class="loginBox">
        <h1 class="mainTitle">La sesión expiró, volve a iniciar sesión</h1>
    </div>
</body>

</html>