.myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

body {
    background-color: black;
}

h2 {
    color: white;
}